* {
    box-sizing: border-box;
}

.updateUserBody{
    background: lightblue;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.updateWrapper{
    box-shadow: 6px 6px 8px #888888;
    border-radius: 6px;
}

.updateLogo{
    background: lightgreen;
    width: 60vw;
    display: flex;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.updateInputs{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 25px;
    background: white;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
}

.updateButtons{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.updateButtons button {
    padding: 25px;
    font-size: 32px;
    min-width: 250px;
}
