* {
    box-sizing: border-box;
}

.choosePatientBody {
    background: whitesmoke;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh; 
}

.choosePatientSelect {
    margin-top: 2vh; 
}

.choosePatientButtons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 2vh; 

}
