* {
    box-sizing: border-box;
}

.navBarBody{
    background: lightgrey;
    display: flex;
}

.links {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    margin: 0 1rem;
    transition: .3s;
}

li:hover {
    color: blue;
    cursor: pointer;  
}
