* {
    box-sizing: border-box;
}

.soapWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.boxDisplay {
    background: aliceblue;
    min-width: 24%;
    min-height: 250px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
}

.boxDisplay:nth-child(2n) {
    background: aquamarine;
}

.subjectiveTable select, .subjectiveTable input {
    width: 100%;
}

.actionButtons{
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

.saveNoteBody{
    display: flex;
    justify-content: center;
}

.saveNoteWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.savenoteTitle{
    display: flex;
    justify-content: center;
}

.soapWrapper{
    display: flex;
    justify-content: space-evenly;
}